<div id="y1">
    <div class="nav" id="about"><a routerLink="" style="text-decoration: none;color:inherit">HOME</a></div>
    <div class="nav" id="about"><a routerLink="about" style="text-decoration: none;color:inherit">ABOUT</a></div>
    <div class="nav" id="skills"><a routerLink="skills" style="text-decoration: none;color:inherit">SKILLS</a></div>
    <div class="nav" id="partners"><a routerLink="partners" style="text-decoration: none;color:inherit">PARTNERS</a></div>
    <div class="nav" id="goals"><a routerLink="goals" style="text-decoration: none;color:inherit">GOALS</a></div>
    <div id="icons">
        <a target="_main" href="https://www.instagram.com/pulkit__24/"> <i id="insta" class="fa-brands fa-instagram fa-lg"></i></a>
        <a target="_main" href="https://github.com/pulkit1417"> <i id="github" class="fa-brands fa-github fa-lg"></i></a>
        <a target="_main" href="https://www.linkedin.com/in/pulkit-gupta-708941287/"> <i id="linkedin" class="fa-brands fa-linkedin fa-lg"></i></a>
    </div>
</div>