<div id="back">
  <div id="content">
    <div id="image-container">
      <div id="image"></div>
    </div>
    <div id="about">
      <div id="about-me">About Me</div>
      <div id="text">
        <p>
          I'm a web developer passionate about creating seamless, captivating
          user experiences with elegant code. I excel in front-end development
          and am enhancing my skills in data structures and algorithms (DSA) to
          improve project efficiency and performance.
        </p>
        <br />
        <p>
          Fueled by creativity and precision, I build intuitive, engaging
          interfaces with a focus on detail to deliver memorable digital
          experiences. Continuously learning, I'm dedicated to pushing the
          limits of web development.
        </p>
      </div>
      <div id="b">
        <button id="hire" routerLink="/contact">HIRE ME</button>
        <button id="view" (click)="openResume()">VIEW RESUME</button>
      </div>
    </div>
  </div>
</div>
