<div id="back">
  <div id="b-main">
    <div id="left"></div>
    <div id="right">
      <br /><br />
      <div><a id="get">Get in Touch</a></div>
      <div><a id="feel">Feel Free to drop us a line below!</a></div>
      <br />
      <div id="type">
        <input id="name" type="text" placeholder="Your Name" /><br />
        <input id="email" type="email" placeholder="Your Email" /><br />
        <textarea
          id="message"
          type="text"
          placeholder="Type your message here..."
        ></textarea
        ><br /><br />
        <button id="send">SEND</button>
      </div>
    </div>
  </div>
  <div id="f-main">
    <div id="contact">Contact Us</div>
    <div id="details">
      <i class="fa-solid fa-location-dot"></i>
      <a style="color: white; font-size: large"
        >&nbsp;SRM IST, Delhi-NCR<br /><br /><br
      /></a>
      <i class="fa-regular fa-envelope"></i>
      <a style="color: white; font-size: large"
        >&nbsp;gupta.pulkit2408&#64;gmail.com<br /><br /><br
      /></a>
      <i class="fa-solid fa-phone"></i>
      <a style="color: white; font-size: x-large"
        >&nbsp;+91 9161562635<br /><br
      /></a>
      <i class="fa-brands fa-instagram"></i>
      <a style="color: white; font-size: larger">&nbsp;&#64;pulkit_24</a>
    </div>
  </div>
</div>
