<header>
  <h1>My Projects</h1>
</header>

<div class="project-container">
  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZi2CkDdwIZi7w_9awU9TrSqfXgo9cREpkZrTTVYT0YLv5EQ0wGFe-qoq6HhVpgM3Wj5PoP20t9sEeQioY0UuBTts2cbV6o80s=w1920-h937-rw-v1" alt="Project 1" />
    <div class="project-card-content">
      <h3>Ecommerce Project</h3>
      <p>
        Angular-powered ecommerce project with user-friendly interface, secure payments, and intuitive shopping cart. Leverages Angular's dependency injection, modular architecture for scalability. Comprehensive solution for online businesses.
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>
  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihaGW_hO11bjexR8mUyQs8Ou_sziHZPFXeITbOeZVI23QXMSRvYTOpV3IEAqSZa3OoqNAQ0CxMhq3IYH0jNBILGaOK8nfTV8iQ=w1920-h937-rw-v1" alt="Project 2" />
    <div class="project-card-content">
      <h3>Personal Portfolio</h3>
      <p>
        Portfolio website made with Angular - showcases web development journey, technical mastery blended with creative expression through HTML, CSS.  
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>
  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZqSD1_7VqzG9t_kra8sbc34aEb3UFdiahU6DlnuIDjPkMlH5xjLkoMEwUlCa5At0PgOD5F2TL7ygKBnWIPqKb0UjNP3I2hJg4=w1920-h937-rw-v1" alt="Project 3" />
    <div class="project-card-content">
      <h3>Language Translator</h3>
      <p>
        Language translator with HTML, CSS, JavaScript - user-friendly interface, real-time multilingual translation, leveraging JavaScript for efficient translation.
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>
  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpiha7FuB1tdpNnHBfDVY1L_dcHf7rKzuCbaa4FeAtVN9tDfyak_i1WjY4RtuYOH4eDsdLba_uf0yUQ3VK7Cv4jDA9z_575JltN8o=w1920-h937-rw-v1" alt="Project 4" />
    <div class="project-card-content">
      <h3>Weather Website</h3>
      <p>
        Weather website with HTML, CSS, JavaScript - intuitive interface, real-time weather data, location tracking, leveraging JavaScript for dynamic updates.
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>
  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbdcYQJbYA5KgpaAWiGfQk_uv-VMiOlSwPA4LZnYg9Foydnki95PmPBzfX-yXi_qh0nQsG2XcC6bAE5tAGpyOi-1P3__PpQUbI=w1920-h937-rw-v1" alt="Project 5" />
    <div class="project-card-content">
      <h3>Admin Panel</h3>
      <p>
        Admin panel for college with HTML, CSS, JavaScript - secure access, user management, data visualization, leveraging JavaScript for dynamic functionality.
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>

  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbvOvI0hHPWHgCdmZwZIiGubnhUm7gsSVyD_0uqRFQLp-DgQC87gtmk8b4Mnyv9my4wxEaP9609U1JtMVEooApP0Mn3uVe4Vak=w1920-h937-rw-v1" alt="Project 6" />
    <div class="project-card-content">
      <h3>Tic Tac Toe!</h3>
      <p>
        Tic Tac Toe game - HTML, CSS, JavaScript. Simple yet interactive, delightful web experience.
      </p>
      <a href="https://pulkit1417.github.io/Tic-Tac-Toe/">Explore More</a>
    </div>
  </div>

  <div class="project-card">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbc7lJjgLWYV97ZaoKF84u6znF1HozNxC2UV_XcVc90ehHMbcoE07m4PEohnHTG2nqv2V2AezuCgyTK0URjVFIzbQ5DdVlzcE4=w1920-h937-rw-v1" alt="Project 7" />
    <div class="project-card-content">
      <h3>SignIn Page</h3>
      <p>
        Sign-in page with HTML, CSS - simple, aesthetic, user-friendly design showcasing front-end proficiency.
      </p>
      <a href="#">Explore More</a>
    </div>
  </div>
</div>
